In [2]:
import os
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [3]:
folder = '/home/mapper/VGI_Data/2016_AISData/ProcessedData/Port_AIS/Charleston/'
port = 'Charleston'
r = []
for root, dirs, files in os.walk(folder):
    for name in files:
       r.append(os.path.join(root, name))

In [4]:
allDF = pd.DataFrame()
for file in r:
    df = pd.read_csv(file)
    allDF = allDF.append(df)
    
outpath = folder + port 
allDF.to_csv(outpath + 'ALL2016.csv')

In [5]:
geometry = gpd.GeoSeries(Point(xy) for xy in zip(allDF.LON, allDF.LAT))
gdf = gpd.GeoDataFrame(allDF, geometry=geometry)
gdf.crs = {'init': 'epsg:4326'}
gdf.to_file(outpath + '_ALL2016.shp')

In [12]:
gdf.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>MMSI</th>
      <th>LAT</th>
      <th>LON</th>
      <th>VesselType</th>
      <th>Length</th>
      <th>Width</th>
      <th>Draft</th>
      <th>geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>367602520</td>
      <td>32.85513</td>
      <td>-79.95208</td>
      <td>1025.0</td>
      <td>28.04</td>
      <td>9.75</td>
      <td>3.4</td>
      <td>POINT (-79.95208000000002 32.85513)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>366873240</td>
      <td>32.85455</td>
      <td>-79.95264</td>
      <td>31.0</td>
      <td>32.00</td>
      <td>10.00</td>
      <td>4.1</td>
      <td>POINT (-79.95264 32.85455)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>366670000</td>
      <td>32.84983</td>
      <td>-79.93800</td>
      <td>1004.0</td>
      <td>207.40</td>
      <td>29.62</td>
      <td>10.1</td>
      <td>POINT (-79.938 32.84983)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>367602520</td>
      <td>32.85513</td>
      <td>-79.95209</td>
      <td>1025.0</td>
      <td>28.04</td>
      <td>9.75</td>
      <td>3.4</td>
      <td>POINT (-79.95209 32.85513)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>367572040</td>
      <td>32.83443</td>
      <td>-79.94360</td>
      <td>1025.0</td>
      <td>32.50</td>
      <td>10.36</td>
      <td>5.0</td>
      <td>POINT (-79.9436 32.83443)</td>
    </tr>
  </tbody>
</table>
</div>